<h1>Listing Things</h1>
<div id="flash_messages"><%= flash_messages %></div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Foo</th>
      <th>Bar</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody id="listing">
    <%= render @things %>
  </tbody>
</table>

<%= link_to 'New Thing', new_thing_path, class: 'btn btn-primary', remote: true %>
